.footer {
    flex: 0 0 60px;
    align-self: flex-end;
    background-color: #132f42;
    color: #52c367;
    width: 100%;
    padding: 0 30px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: yellowgreen;
    line-height: 1.2rem;
}

.info {
    /* text-align: left; */
}
