.footer {
    flex: 0 0 80px;
    align-self: flex-end;
    background-color: #132f42;
    color: #52c367;
    width: 100%;
    text-align: center;
    /* padding: 10px 0; */
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.footer a {
    color: yellowgreen;
    line-height: 1.2rem;
}